<div class="deletePage">
    <h2>Are you sure you want to Delete this Post?</h2>
    <h3>All content will be lost forever!</h3>
    <button id="deletebtn">Delete</button>
    <p class="Id">{{deletePost.id}}</p>
</div>