{{#each blogs}}
<div class="post">
    <a href="/{{title}}">
    <button>
        <div>
            <h2>{{title}}</h2>
            <p>Posted on {{format_date blog_date}}</p>
        </div>
        </button>
    </a>
</div>
{{/each}}