<div class="page">
  <div class="login">
    <h2>Login</h2>
    <form class="login-form">
      <div class="email">
        <label>Email:</label>
        <input type="text" id="email-login"/>
      </div>
      <div class="password">
        <label>Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button class="login-button" type="submit">login</button>
      </div>
    </form>
    <div>
      <h3>Don't have an account? Sign up here!</h3>
      <a href="/signup"><button>Sign Up</button></a>
    </div>
  </div>
</div>


<script src="./js/login.js"></script>