<div class="page">
  <div class="signup">
    <h2>Signup</h2>
    <form class="signup-form">
      <div class="username">
        <label>Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div class="email">
        <label>Email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div class="password">
        <label>Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button class="signup-button" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
  <script src="./js/login.js"></script>