<form class="updateBlogPost">
    <div>
        <h2>Edit Title</h2>
        <textarea type="text" id="updatedTitle">{{updatePost.title}}</textarea>
    </div>
    <div>
        <h2>Edit Content</h2>
        <textarea type="text" id="updatedContent">{{updatePost.content}}</textarea>
    </div>
    <button id="updatePostBtn">Update✅</button>
    <p class="Id">{{updatePost.id}}</p>
</form>