:root {
--primary: blue;
--secondary: beige;
--third: black;
--fourth: lightblue;
}

header{
  padding: 10px 50px 10px 50px;
  text-align: center;
  background: var(--primary);
  border: none;
  color: var(--secondary);
  font-size: 30px;
}

body {
  background: var(--secondary);
}

.navbar {
  background: var(--third);
  padding: 20px;
}

.navbar a, #logout, .login button, .signup button, .updatebtn, .deletebtn, .deletePage button {
  color: var(--primary);
  font-size: 25px;
  font-weight: bold;
  border: 2px solid var(--primary);
  background: var(--secondary);
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover, #logout:hover, .login button:hover, .signup button:hover, .updatebtn:hover, .deletebtn:hover, .deletePage button:hover{
  border: 2px solid var(--secondary);
  color: var(--secondary);
  background: var(--primary);
}

.post {
  border: 2px solid var(--third);
  padding: 10px;
  margin: 20px;

  justify-content: space-between;
}

.singlepost button{
  padding: 10px;
  background: var(--fourth);
  color: var(--primary);
  border: 2px solid var(--third);
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: 1s;
}

.singlepost button:hover {
  letter-spacing: 10px;
  transition: 0.2s;
  font-size: 40px;
}

.single {
  display: flex;
  background: var(--third);
  font-size: 50px;
  padding: 20px;
  color: var(--fourth);
  justify-content: space-between;
  align-items: center;
}

.info {
  font-size: 20px;
}

.singlecontent {
  color: var(--third);
  border: 2px solid var(--primary);
  padding: 30px;
  font-size: 20px;
}

.commentLbl {
  font-size: 40px;
  font-weight: bold;
}

.comment {
  background: var(--fourth);
  margin: 30px;
  padding: 30px;
  border: 3px solid var(--third);
}

#comment-input {
  width: 100%;
  line-height: 100px;
  font-size: 20px;
  margin-top: 20px;
}

.post div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.post a{
  text-decoration: none;
}

.post button {
  width: 100%;
  background: var(--fourth);
}

.post button:hover {
  background: var(--primary);
  cursor: grab;
  color: var(--secondary);
}

.page{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.login, .signup{
  border: 2px solid var(--third);
  padding: 20px;
  background: var(--fourth);
  text-align: center;
  box-shadow: 4px 4px 5px var(--third);
}

.login h2, .signup h2{
  font-size: 50px;
}

.login label, .login input, .login button, .signup label, .signup input, .signup button {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}



.dashboardHeader {
  padding: 1px;
  background: var(--third);
}

.dashboardHeader h2 {
  color: var(--primary);
  font-size: 60px;
  text-shadow: 3px 3px 5px var(--secondary);
  text-align: center;
}

.blogtitle {
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  color: var(--primary);
}

.comment-bullet {
  font-weight: bold;
  color: var(--primary);
  font-size: 30px;
}

.comment-section {
  background: var(--fourth);
  padding: 30px;
  border: 2px solid var(--third);
}

.comment-section h3 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

.Id {
  display: none;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.individual{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yourInfo {
  text-align: center;
  width: 200px;
  border: 3px solid var(--third);
  margin: 20px;
  padding: 20px;
  background: var(--fourth);
  color: var(--third);
}

.yourInfo:hover {
  color: var(--fourth);
  background: var(--third);
  transition: 0.3s;
}

.yourInfo h3 {
  font-size: 30px;
}

.yourInfo p{
  font-size: 20px;
}

.yourBlogsTitle {
  text-align: center;
  border: 3px solid var(--third);
  padding: 20px;
  font-size: 50px;
  margin: 20px 200px 20px 200px;
  background-color: var(--primary);
  color: var(--secondary);
}

.yourlinks{
  text-decoration: none;
}

.noBlogs {
  font-size: 30px;
}

.newBlogPost, .updateBlogPost {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
  border: 2px solid var(--primary);
  padding: 50px;
  background-color: var(--fourth);
}

#newContent, #updatedContent {
  width: 700px;
  height: 700px;
  font-size: large;
  padding: 10px;
}

#newTitle, #updatedTitle{
  font-size: large;
  padding: 10px;
}

.newBlogPost button, .updateBlogPost button {
  font-size: 50px;
  margin-top: 20px;
}

.deletePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deletePage h2{
  font-size: 40px;
}

.deletePage h3{
  font-size: 25px;
}

